/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Specify a fallback font */
    background-color: white; /* Set a background color */
}

/* Center the image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Define the animation keyframes */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply animation to the logo */
.animated-logo.animated {
    animation: pulse 2s infinite;
}

/* Style the image */
.animated-logo {
    width: 400px;
    height: 400px;
    opacity: 0; /* Initially hide the logo */
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}
